*{
  margin: 0;
  padding: 0;
}

.app {
  background-color: #fafafa;

}
.app__header {
  object-fit: contain;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.app__headerImage {
  height: 50px;
}